/*-------------------------Basic CSS-----------------------*/

body { 
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.bd-patreon-button {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.bd-patreon-button img {
    border-radius: 4px;
    display: block;
    max-height: none!important;
}
@media screen and (min-width: 1088px) .intro-columns{
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1088px) .intro-column .is-content {
    margin-right: 1.5rem;
}
@media screen and (min-width: 1088px) .intro-column .is-video {
    margin-left: 1.5rem;
}
@media screen and (min-width: 1088px) .intro-column{
    width: calc(50% - 1.5rem);
}
@media screen and (min-width: 1088px) .intro-content{
    max-width: 440px;
}
@media screen and (min-width: 1088px) .intro-title:not(:last-child) {
    margin-bottom: 20px;
}