<!DOCTYPE html>
<html lang="zh">
<head>
<!--
<meta name="mobile-agent" content="format=html5;url=http://">
-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> - </title>
<meta name="description" content="" />
<meta name="robots" content="INDEX,FOLLOW" />
<link rel="icon" href="http://127.0.0.1/kite/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://127.0.0.1/kite/favicon.ico" type="image/x-icon" />
</head>
<style type="text/css">
<!--
	.app{
       position:fixed;
       left:50%;
       top:50%;
       margin-left:width/2;
       margin-top:height/2; 
	}
-->
</style>
<div class="app">
    风筝  ----即将飞来
</div>
</html>